/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

img{
    display: block;
}
.container{
    width: 1296px;
    margin: 0 auto;
    font-family: "Noto Sans TC", sans-serif;
}
.d-flex{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.mr-48{
    margin-right: 48px;
}
.ptb-12{
    padding: 12px 0;
}
.mr-40{
    margin-right: 40px;
}
.ptb-16{
    padding: 16px 0;
}
.navitem{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
nav i{
    width: 18px;
    padding: 3px;
    margin: 12px;
}
.mb-64{
    margin-bottom: 32px;
}
.fw-w{
    flex-wrap: wrap;
}
.picture img{
    width: 369px;
    margin-bottom: 8px;
}
.prl-4{
    padding: 0 4px;
}
.mrl--4{
    margin-right: -4px;
    margin-left: -4px;
}
.picture{
    width: 58.33333%;
}
.inof{
    width: 41.66666%;
}
.default{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #6C757D;
    text-decoration: none;
}
.active{
    color: #212529;
}
.breadcrumbs span{
    font-weight: 700;
    line-height: 1.5;
    color: #DEE2E6;
}
.mb-24{
    margin-bottom: 24px;
}
.mr-12{
    margin-right: 12px;
}
.mrl--12{
    margin: 0 -12px;
}
