/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

img{
    display: block;
}
.container{
    width: 1296px;
    margin: 0 auto;
    font-family: "Noto Sans TC", sans-serif;
}
.d-flex{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.mr-48{
    margin-right: 48px;
}
.ptb-12{
    padding: 12px 0;
}
.mr-40{
    margin-right: 40px;
}
.ptb-16{
    padding: 16px 0;
}
.navitem{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
nav i{
    width: 18px;
    padding: 3px;
    margin: 12px;
}
.mb-64{
    margin-bottom: 32px;
}
.fw-w{
    flex-wrap: wrap;
}
.picture img{
    box-sizing: border-box;
    width: 369px;
    margin-bottom: 8px;
}
.prl-4{
    padding: 0 4px;
}
.mrl--4{
    margin-right: -4px;
    margin-left: -4px;
}
.picture{
    box-sizing: border-box;
    width: 58.33333%;
}
.inof{
    box-sizing: border-box;
    width: 41.66666%;
}
.prl-12{
    padding: 0 12px;
}
.default{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #6C757D;
    text-decoration: none;
}
.active{
    color: #212529;
}
.breadcrumbs span{
    font-weight: 700;
    line-height: 1.5;
    color: #DEE2E6;
}
.mb-24{
    margin-bottom: 24px;
}
.mr-12{
    margin-right: 12px;
}
.mb-12{
    margin-bottom: 12px;
}
h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #212529;
}
.discout{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #57A203;
}
.old{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-decoration: line-through;
    color: #ADB5BD;
    padding: 1.5px 0;
}
.mb-16{
    margin-bottom: 16px;
}
.mr-8{
    margin-right: 8px;
}
.mb-32{
    margin-bottom: 32px;
}
.p1{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
.mb-8{
    margin-bottom: 8px;
}
.color img{
    width: 64px;
}
.fd-c{
    flex-direction: column;
}
.ai-c{
    align-items: center;
}
.mb-4{
    margin-bottom: 4px;
}
.color span{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #6C757D;
}
.size a{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding: 12px 24px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    color: #212529;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}
.size .active{
    border: 1px solid #212529;
}
.size .default{
    border: 1px solid #DEE2E6;
    color: #E9ECEF;
}
.p-red{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #D74F4F;
}
.mb-48{
    margin-bottom: 48px;
}
.btn i{
    width: 20px;
    padding: 2px 0;
    margin-right: 8px;
}
.btn span{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
.btn .black span{
    color: white;
}
.btn .black i{
    color: white;
}
.white{
    padding: 12px 77px;
    background-color: white;
    border: 1px solid #212529;
    border-radius: 4px;
}
.black{
    padding: 12px 60px;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 4px;
}
.mr--4{
    margin-right: -4px;
}
.ml--4{
    margin-left: -4px;
}
.accordion .gray{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #6C757D;
    padding-bottom: 12px;
    border-bottom: 1px solid #DEE2E6;
}
.accordion .title{
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #212529;
    padding: 9.5px 0;
    margin-bottom: 16px;
}
.btn2{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: white;
    background-color: #212529;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}
.ad{
    background-color: #E8FEC5;
    height: 96px;
}
.ad .title span{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #212529;
    font-family: "Noto Sans TC", sans-serif;
}
.mtb-24{
    margin: 24px 0;
}
.jc-c{
    justify-content: center;
}
.ptb-64{
    padding: 64px 0;
}
footer .item{
    padding-bottom: 24px;
    border-bottom: 1px solid #DEE2E6;
}
.copyright{
    padding-top: 32px;
    text-align: center;
}
.copyright p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #6C757D;
    font-family: "Noto Sans TC", sans-serif;
}
.mr-24{
    margin-right: 24px;
}
.maybe1{
    width: 306px;
}
.maybe1 img{
    width: 306px;
    margin-bottom: 12px;
}
.maybe1 p{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}
.maybe1 .title{
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 1.2;
}
.mb-88{
    margin-bottom: 88px;
}